#%RAML 1.0
baseUri: https://mocksvc.mulesoft.com/mocks/e7205143-3790-4d63-b44b-6b035c6c6dbc # 
title: American Flights API
version: 1.0

/flights:
 get:
  queryParameters: 
    code:
  responses: 
    200:
      body: 
        application/json:
          example:
            [
              {
              "ID": 1,
              "code": "ER38sd",
              "price": 400,
              "departureDate": "2016/03/20",
              "origin": "MUA",
              "destination": "SFO",
              "emptySeats": 0,
              "plane": {
              "type": "Boeing 737",
              "totalSeats": 150
                        }
              }, 
              {
              "ID": 2,
              "code": "ER45if",
              "price": 345.99,
              "departureDate": "2016/02/11",
              "origin": "MUA",
              "destination": "LAX",
              "emptySeats": 52,
              "plane": {
              "type": "Boeing 777",
              "totalSeats": 300
                       }
              }
            ]

 post:
  body: 
    application/json:
      example:
        {
  "code": "GQ574",
  "price": 398,
  "departureDate": "2016/12/20",
  "origin": "ORD",
  "destination": "SFO",
  "emptySeats": 200,
  "plane": {"type": "Boeing 747", "totalSeats": 400}
}

  responses: 
    201:
      body: 
        application/json: 
          example:
            {"message": "Flight added (but not really)"}

 /{ID}:
  get:
    responses: 
      200:
        body: 
          application/json:
            example: 
              {
  "ID": 1,              
  "code": "GQ574",
  "price": 399,
  "departureDate": "2016/12/20",
  "origin": "ORD",
  "destination": "SFO",
  "emptySeats": 200,
  "plane": {"type": "Boeing 747", "totalSeats": 400}
}

    
